version: "3"

services:
  api:
    build: .
    restart: always
    depends_on:
      - redis
    links:
      - redis
    ports:
      - 2323:2323
    environment:
      TOKEN: abcd

  redis:
    image: redis
    restart: always
    volumes:
      - ./data:/data